<html>
  <head>
    <title>PAGE POTIN</title>
  </head>
  <body>
    <h1>Voici la page du potin que vous cherchez</h1>
  
        <p>
          Son auteur :
          <%= zegoss.author %><br/>
          Son contenu :
          <%= zegoss.content %>
        </p>
        <br>
         <a href="/gossips/edit/<%= id %>">Edit</a>
         <br>
        <a href="/">Retour a la page d'accueil</a>
  </body>
</html>